/target
/.idea
*.iml
*.ipr
*.iws
.idea
*/*.log
*/target/
*.DS_Store
*.classpath
*.settings
*.project
#folder
target/
#fixed file
.exe
*/*.*.log
.prefs
.project
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
*.tar.gz